pre {
    padding: var(--base-gap);
    max-width: 100%;
    border-radius: 8px;

    display: grid;
    grid-template-areas: 'code';
    gap: var(--base-gap);

    z-index: 0;

    code[data-lang] {
        grid-area: code;
        z-index: 1;
    }

    button {
        display: inline-flex;
        grid-area: code;
        align-self: flex-start;
        justify-self: flex-end;

        z-index: 1;
        cursor: pointer;
        min-width: 68px;
        justify-content: center;
    }
}

code {
    &:not([data-lang]) {
        padding: calc(var(--base-gap) / 4);
        background: var(--surface-3);
        grid-area: code;
    }
    
    overflow-x: auto;

    border-radius: calc(var(--base-radius) / 2);
    font-family: monospace;
}