header {
    > nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--base-gap);
        height: var(--header-height);

        ul {
            display: flex;
            gap: var(--base-gap);
            list-style: none;
        }

        a {
            text-decoration: none;
        }
    }
}

.content > header {
    display: flex;
    gap: var(--base-gap);
    justify-content: flex-end;
    padding: var(--base-gap);
}

#site-header {
    position: sticky;
    top: 0;
    z-index: 2;
    transition: background-color var(--duration) var(--timing);

    &.opaque {
        background-color: hsla(280, 56%, 84%, 0.945);
    }
}

@media (prefers-color-scheme: dark) {
    #site-header.opaque {
        background-color: var(--glass-tint-2);
    }
}

[color-mode='dark'] {
    #site-header.opaque {
        background-color: var(--glass-tint-2);
    }
}

/**
 * Button which opens the dialog
 */
#btn-theme-selection {
    border-radius: 50%;
    border: 2px solid hsla(281, 53%, 97%, 0.63);
    width: 25px;
    aspect-ratio: 1;

    cursor: pointer;

    background: linear-gradient(
        -45deg,
        hsla(281, 55%, 74%, 1),
        hsl(191, 98%, 56%),
        hsl(281, 60%, 25%),
        hsl(338, 78%, 48%)
    );

    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    transition : border 500ms ease-out;

    &:focus,
    &:hover {
        border-color: hsla(281, 100%, 63%, 0.75);
    }
}
