h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color-1);
}

h1 {
    &.title {
        display: inline-flex;
        margin: 0;
        border-radius: 20px 10px 20px 10px;
        padding: var(--base-gap);
        background-color: var(--surface-2);
    }
}

h2 {
    &.heading {
        display: inline-flex;
        border-radius: 20px 10px 20px 10px;
        padding: var(--base-gap);
        background-color: var(--shade-100);
    }
}

.content {
    --h2-height: 37px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: flex;
        align-items: center;
        gap: var(--base-gap);
    }

    h2 {
        height: var(--h2-height);
    }
}
