h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-1);
    word-break: break-word;
}

h2 {
    &.title {
        display: inline-flex;
        margin: 0;
        border-radius: 20px 10px 20px 10px;
        padding: var(--base-gap);
        background-color: var(--surface-2);
    }
}

.content {
    --h2-height: 37px;
    --h3-height: 33px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        display: flex;
        align-items: center;
        gap: var(--base-gap);
        scroll-margin-top: calc(var(--header-height) + var(--base-gap));
    }

    h2 {
        height: var(--h2-height);
    }

    h3 {
        height: var(--h3-height);
    }
}
