* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

p,
.footer-links {
    a {
        display: inline-block;
        position: relative;

        &:hover,
        &:focus{
            &:after {
                height: 2px;
                margin: 1px auto 0;
            }
        }
        
        &:after {
            content: '';
            height: 1px;
            background-color: var(--link-underline-color);
            display: block;
            margin: 2px auto 0;
            width: 100%;
            transition: height 0.1s ease-in-out;
            position: absolute;
            bottom: 0;
        }
    }
}
