.intro-wrapper {
    p:first-child {
        margin-top: 0;
    }

    border-bottom: 1px solid var(--surface-2);
}

.intro {
    line-height: 1.5;
    max-width: 470px;
    text-align: justify;

    span {
        display: block;
        font-size: 1.5em;
        font-weight: bold;
        margin-bottom: calc(var(--base-gap) / 2);
    }

    p {
        font-size: 1.2em;
    }
}

.more {
    display: flex;
    flex-wrap: wrap;
    gap: var(--base-gap);
    margin-bottom: 0;
    max-width: 420px;
    padding: 0;
    list-style: none;
}

.more li {
    padding: 8px 16px;
    background-color: var(--surface-3);
    border-radius: 36px;
}
