@media (prefers-reduced-motion: no-preference) {
    a {
        &:active {
            h1 {
                color: var(--shade-400);
            }
        }
    }
}

.logo {
    background-color: var(--logo-bg);
    border-radius: 15px;
    cursor: pointer;
    height: var(--logo-size);
    padding: var(--logo-padding);
    width: var(--logo-size);
    transition: transform 0.1s ease-in-out;
    aspect-ratio: 1/1;
}

.logo img {
    width: 100%;
    height: 100%;
}

.logo-link {
    display: flex;
    gap: var(--base-gap);
    align-items: center;

    color: var(--text-1);

    h1 {
        font-size: 1.8rem;
        margin: 0;
    }
}
