@import './themes/dark';
@import './themes/light';

* {
    /**
     * Shades
     */
    --shade-50: hsla(281, 53%, 97%, 1);
    --shade-50-glass: hsla(281, 53%, 97%, 0.63);
    --shade-100: hsla(281, 56%, 94%, 1);
    --shade-200: hsla(281, 56%, 84%, 1);
    --shade-300: hsla(281, 55%, 74%, 1);
    --shade-400: hsla(281, 55%, 55%, 1);
    --shade-500: hsla(281, 100%, 35%, 1);
    --shade-600: hsla(281, 100%, 32%, 1);
    --shade-700: hsla(281, 100%, 27%, 1);
    --shade-800: hsla(281, 100%, 21%, 1);
    --shade-900: hsla(281, 100%, 17%, 1);
    /**
     * Light Theme
     */
    --text-1-light: var(--shade-800);
    --text-2-light: var(--shade-900);

    --surface-1-light: var(--shade-300);
    --surface-2-light: var(--shade-200);
    --surface-3-light: var(--shade-100);
    --surface-4-light: var(--shade-50);
    --surface-5-light: hsla(281, 40%, 80%, 1);

    --glass-tint-light: hsla(200, 100%, 96%, 0.15);
    --glass-tint-light-2: var(--shade-50-glass);

    --border-light: var(--shade-200);
    /**
     * Dark Theme
     */
    --text-1-dark: hsl(0, 0%, 90%);
    --text-2-dark: hsl(0, 0%, 95%);

    --surface-1-dark: hsl(281, 60%, 10%);
    --surface-2-dark: hsl(281, 60%, 15%);
    --surface-3-dark: hsl(281, 60%, 20%);
    --surface-4-dark: hsl(281, 60%, 25%);
    --surface-5-dark: hsl(281, 83%, 21%);

    --glass-tint-dark: hsla(286, 86%, 6%, 0.657);
    --glass-tint-dark-2: hsla(290, 93%, 5%, 0.7);

    --border-dark: var(--shade-800);
}

:root {
    @include light();
    /**
     * Surfaces
     */
    .surface {
        background-color: var(--surface-3);
        color: var(--text-1);
    }

    .surface-tag {
        @include surface-tag();
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark;
    }

    .surface {
        @include dark-surface-2();
    }

    .surface-tag {
        @include surface-tag();
    }
}

[color-mode='light'] {
    @include light;

    .surface {
        @include light-surface-3();
    }
}

[color-mode='dark'] {
    @include dark;

    .surface {
        @include dark-surface-2();
    }

    .surface-tag {
        @include surface-tag();
    }
}
