{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}
Tags  {{ config.extra.title_separator }} {{ config.extra.title }}
{% endblock title%}

{% block seo %} 
    {% set description = "Alle Tags zum Blog auf dieser Website" %}

    {{ macros_head::seo(description=description) }}
{% endblock seo %}

{% block content %}
<h1>Tags</h1>

<ul class="terms article-tags">
    {% for term in terms %}
    <li>
        <a 
            href="{{ term.permalink }}" 
            class="article-tag surface-tag"
            title="Posts zum Tag: {{ term.name }}"
        >
        #{{ term.name }}
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock content %}
