{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block title %}Tag: {{ term.name }} {{ config.extra.title_separator }} {{ config.extra.title }} {% endblock title%}

{% block content %}
<h1>Tag: <span class="article-tag">#{{ term.name }}</span></h1>

<a href="{{ get_url(path="/tags") }}" class="article-tag single-tag">Alle Tags ›</a>

<div class="posts">
    {% for page in term.pages %}
    {{ page_macros::page_listing(page=page) }}
    {% endfor %}
</div>
{% endblock content %}