pre {
    padding: var(--base-gap);
    max-width: 100%;
    overflow: auto;
    border-radius: 8px;
}

code {
    border-radius: calc(var(--base-radius) / 2);
    padding: calc(var(--base-gap) / 4);
    
    font-family: monospace;
    background: var(--shade-100);
}