pre {
    padding: var(--base-gap);
    max-width: 100%;
    overflow: auto;
    border-radius: 8px;
}

code {
    &:not([data-lang]) {
        padding: calc(var(--base-gap) / 4);
        background: var(--shade-100);
    }

    border-radius: calc(var(--base-radius) / 2);
    font-family: monospace;
}