header {
    > nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--base-gap);

        a {
            text-decoration: none;
        }
    }

}

.content > header {
    display: flex;
    gap: var(--base-gap);
    justify-content: flex-end;
    padding: var(--base-gap);
}
