header {
    > nav {
        padding: var(--base-gap);

        a {
            text-decoration: none;
        }
    }

}

.content > header {
    display: flex;
    gap: var(--base-gap);
    padding: var(--base-gap);
    justify-content: flex-end;
}
