a {
    text-decoration: none;
    display: flex;

    &:not(.text-link) {
        @media (prefers-reduced-motion: no-preference) {
            -webkit-transform: scale(1);
            transform: scale(1);

            &:active {
                transform: scale(0.95);
                box-shadow: none;
            }
        }
    }

    &:active {
        color: var(--text-color-1);
    }

    &:visited {
        color: unset;
    }

    &.text-link {
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: var(--text-color-1);

        &:after {
            content: '';
            display: block;
            margin: 2px auto 0;
            height: 1px;
            width: 100%;
            background-color: var(--text-color-1);
            transition: height 0.2s ease-in-out;
            position: absolute;
            bottom: 0;
        }

        &:hover,
        &:focus {
            &:after {
                height: 2px;
            }
        }
    }

    &.skip-to-main {
        position: absolute;
        left: -999px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
        z-index: -999;
    }
}
