:root {
    // Layout
    --base-gap: 16px;
    --base-radius: 8px;
    --logo-size: 56px;

    // Animations
    --duration: 300ms;
    --timing: ease;

    &[color-mode='light'] {
        --surface-color: #ccc;
        --text-color: #333;

        --surface-1: #cb99e1;
        --surface-2: #debfed;
        --surface-3: #f2e6f8;
        --surface-4: #f8f2fb;
        --surface-5: #fbfbfb;

        --shade-50: #f8f2fb;
        --shade-100: #f2e6f8;
        --shade-200: #debfed;
        --shade-300: #cb99e1;
        --shade-400: #a34dcb;
        --shade-500: #7c00b5;
        --shade-600: #7000a3;
        --shade-700: #5d0088;
        --shade-800: #4a006d;
        --shade-900: #3d0059;

        --text-color-1: #5d0088;

        --bubble-1--color-1: #21d4fd;
        --bubble-1--color-2: #b721ff;
        --bubble-2--color-1: #d81b60;
        --bubble-2--color-2: #03a9f4;
        --bubble-size: 350px;
        --glass-tint: rgba(234, 248, 255, 0.15);
    }

    &[color-mode='dark'] {
        --surface-color: #333;
        --text-color: #ccc;
    }
}

* {
    box-sizing: border-box;
}

body {
    transition: color var(--duration) var(--timing),
        background-color var(--duration) var(--timing);

    background-color: var(--surface-5);
    color: var(--text-color);

    font-family: 'Inter', sans-serif;

    margin: 0;
    height: 100vh;
    max-height: -webkit-fill-available;
}

main {
    max-width: 768px;
    margin: 0 auto;
    padding: var(--base-gap);
}

.container {
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 100vh;
    max-height: -webkit-fill-available;
    top: 0;
    overflow-y: auto;
}

p {
    line-height: 1.5;
}

@import './_article';
@import './_bubble';
@import './_code';
@import './_footer';
@import './_glass';
@import './_header';
@import './_headings';
@import './_intro';
@import './_link';
@import './_logo';
@import './_pagination';
@import './_social-links';
