@import url('../fonts/inter-3.18/inter.css');
:root {
    --primary-color: #0077bf;
    --text-color: 44, 44, 44;
    --menu-item-color: var(--text-color);
    --bubble-1--color-1: #21d4fd;
    --bubble-1--color-2: #b721ff;
    --bubble-2--color-1: #d81b60;
    --bubble-2--color-2: #03a9f4;
    --glass-tint: rgba(234, 248, 255, 0.15);
    --base-gap: 8px;
    --double-gap: 16px;
}
@media (prefers-color-scheme: dark) {
    :root {
        --glass-tint: rgba(0, 0, 0, 0.72);
        --text-color: #fff;
    }
}
* {
    box-sizing: border-box;
}
html {
    height: 100%;
    background-color: rgba(220, 220, 220, 0.7);
    backdrop-filter: blur(15px);
}
body {
    margin: 0 auto;
    height: 100%;
}
ul {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #000;
}
html {
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}
body {
    display: grid;
    max-width: 1024px;
}
[sgb] {
    background: linear-gradient(90deg, red, cyan);
}
[sgb]:before {
    -webkit-mask-image: linear-gradient(to bottom, transparent, black);
    mask-image: linear-gradient(to bottom, transparent, black);
    background: linear-gradient(90deg, hotpink, rebeccapurple);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 72% 80% 70% 63% / 83% 50% 100% 43%;
}
.content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}
header {
    display: flex;
    justify-content: space-between;
    margin: var(--double-gap) 0;
}
nav ul {
    display: flex;
    gap: var(--base-gap);
}
nav li {
    width: 70px;
}
nav a {
    display: flex;
    justify-content: center;
    border-radius: 30px;
    padding: calc(var(--base-gap) / 2) var(--base-gap);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    background-color: rgba(var(--menu-item-color), 0.37);
    color: #fff;
}
nav a.active {
    background-color: rgba(var(--menu-item-color), 1);
}
nav a.active:active,
nav a.active:focus {
    background-color: red;
}
main {
    overflow-y: auto;
    flex: 1;
}
.content {
    display: flex;
    flex-direction: column;
    padding: var(--double-gap);
}
footer {
    display: flex;
    justify-content: flex-end;
    padding: var(--double-gap);
}
.footer-links {
    display: flex;
    gap: var(--double-gap);
}
.bubble {
    width: 350px;
    height: 350px;
    border-radius: 65% 41% 48% 61% / 61% 47% 57% 43%;
    background-color: var(--bubble-1--color-1);
    background-image: linear-gradient(
        19deg,
        var(--bubble-1--color-1) 0%,
        var(--bubble-1--color-2) 100%
    );
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    position: fixed;
    right: -35px;
    top: -50px;
}
.bubble-2 {
    width: 350px;
    height: 350px;
    background-color: var(--bubble-2--color-1);
    background-image: linear-gradient(
        226deg,
        var(--bubble-2--color-1) 0%,
        var(--bubble-2--color-2) 100%
    );
    grid-column: 1;
    grid-row: 1;
    z-index: -1;
    position: fixed;
    bottom: -32px;
    border-radius: 72% 80% 70% 63% / 83% 50% 100% 43%;
    left: -45px;
}
.glass {
    background-color: var(--glass-tint);
    backdrop-filter: blur(40px);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    grid-column: 1;
    grid-row: 1;
}
pre {
    border-radius: 5px;
    overflow-x: auto;
    padding: var(--double-gap);
    width: 100%;
}
@keyframes move {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-100px);
    }
    100% {
        transform: translateX(0px);
    }
}
.vibing {
    animation-name: move;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}
@media (prefers-reduced-motion: reduce) {
    * {
        animation: none !important;
    }
}
h1,
p,
a {
    color: var(--text-color);
}
img {
    width: 100%;
}
