{% macro page_info(page) %}
    <div class="article-info">
        <div class="article-taxonomies">
            {% if page.taxonomies.categories %}
                <ul class="article-categories">
                    {% for cat in page.taxonomies.categories %}
                    <li><a href="{{ get_taxonomy_url(kind="categories", name=cat) | safe }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if page.taxonomies.tags %}
                <ul class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <li>
                        <a 
                            href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" 
                            title="Posts zum Tag: {{ tag }}"
                            class="article-tag surface-tag"
                        >
                            #{{ tag }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro page_info %}

{% macro post_date(page) %}
    {% if page.date %}
        <time
            class="article-date" 
            datetime="{{ page.date }}"
            title="Erstellt am {{ page.date | date(format=config.extra.anpu_date_format) }}"
        >
            {{ page.date | date(format=config.extra.anpu_date_format) }}
        </time>
    {% endif %}
{% endmacro page_info %}

{% macro intro() %}
<div class="intro-wrapper">
    <div class="intro">
        <h1 class="title">Hi, ich bin Tony.</h1>
        <p>
            Ich bin (Frontend)-Entwickler und arbeite vor allem mit JavaScript, TypeScript, Sass,
            Angular und der E-Commerce-Plattform Shopify
        </p>
    </div>
    <ul class="social-links">
        <li>
            <a 
                href="https://github.com/TonySpegel" 
                rel="noopener noreferrer"
                target="_blank" 
                title="GitHub Profil: Tony Spegel"
                class="no-fetch"
            >
                <img src="/img/GitHub-Mark-120px-plus.png" alt="GitHub Logo" width="48px" height="48px" />
            </a>
        </li>

        <li>
            <a 
                href="https://www.npmjs.com/~tonyspegel" 
                rel="noopener noreferrer"
                target="_blank" 
                title="NPM Profil: Tony Spegel"
                class="no-fetch"
            >
                <img src="/img/npm-logo-black.svg" alt="NPM Logo" width="100%"/>
            </a>
        </li>
    </ul>
</div>
{% endmacro welcome %}


{% macro page_listing(page) %}
    <article class="post-list">
        <header> 
            {% if page.date %}
            <time 
                class="article-date" 
                datetime="{{ page.date }}"
                title="Erstellt am {{ page.date | date(format=config.extra.anpu_date_format) }}"
            >
                {{ page.date | date(format=config.extra.anpu_date_format) }}
            </time>
            {% endif %}
            <h1>
                <a href="{{ page.permalink }}" title="Blog Post: {{ page.title }}">{{ page.title }}</a>
            </h1>
        </header>

        {% if page.description %}
        <div class="content post-summary">
            {{ page.description | markdown | safe }}
        </div>
        {% endif %}
        
        {{ self::page_info(page=page) }}
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}" class="paginator-link">‹ neuere posts</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next }}" class="paginator-link">ältere posts ›</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}