{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block content %} 
    <h2 class="heading">Über diesen Blog</h2>
    <p>
        In diesem Blog experimentiere ich mit neuen Technologien und möchte zeigen,
        was im Web so möglich ist. Jeder Post ist so aufgebaut, dass dieser
        einfach nachzuvollziehen und reproduzierbar ist. Sollte dennoch etwas nicht ganz
        klar sein oder nicht mehr funktionieren, schreibt mir doch eine Mail an:
        <a class="text-link no-fetch" target="_blank" rel="noopener noreferrer" href="mailto:tony.spegel@gmail.com" title="E-Mail schreiben">tony.spegel@gmail.com</a>
    </p>
    {% if paginator.pages %}
        <div class="posts">
            {% for page in paginator.pages %} {{ page_macros::page_listing(page=page) }}
            {% endfor %}
        </div>
        {{ page_macros::page_pagination(paginator=paginator) }} 
    {% else %} 
        {% for page in section.pages %} 
            {{ page_macros::page_listing(page=page) }} 
        {% endfor %} 
    {% endif %} 
{% endblock content %}
