@mixin light {
    color-scheme: light;
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --surface-5: var(--surface-4-light);

    --text-1: hsl(281deg, 100%, 16%);
    --text-2: hsl(281deg, 100%, 16%);

    --circle-bg: var(--circle-bg-light);
    --circle-border: var(--surface-1-light);
    --circle-checked: var(--surface-2-light);
    --circle-wave: var(--circle-wave-light);

    --glass-tint: var(--glass-tint-light);
    --glass-tint-2: var(--shade-50-glass);

    --logo-bg: var(--logo-bg-light);
    --border-color: none;
}
// @mixin light {
//     color-scheme: light;

//     --surface-1: var(--surface-1-light);
//     --surface-2: var(--surface-2-light);
//     --surface-3: var(--surface-3-light);
//     --surface-4: var(--surface-4-light);
//     --surface-5: var(--surface-4-light);

//     --text-1: hsl(281deg, 100%, 16%);
//     --text-2: hsl(281deg, 100%, 16%);

//     --circle-bg: var(--circle-bg-light);
//     --circle-border: var(--surface-1-light);
//     --circle-checked: var(--surface-2-light);
//     --circle-wave: var(--circle-wave-light);

//     --glass-tint: var(--glass-tint-light);
//     --glass-tint-2: var(--shade-50-glass);

//     --border-color: none;
// }
