<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Tony Spegel" />
        <title>Tony Spegel</title>
        <link rel="stylesheet" href="{{ config.base_url }}/styles.css" />
        <!-- <meta name="theme-color" content="#d81b60"> -->
    </head>
    <body>
        <div class="glass"></div>
        <div class="bubble"></div>
        <div class="bubble-2"></div>
        <div class="content">
            <header>
                <span id="logo"></span>
                <nav>
                    <ul>
                        {% for menu_link in config.extra.menu_links %}
                        {% set link_url = menu_link.url | replace(from="$BASE_URL", to=config.base_url) %}
                            <li>
                                <a {% if current_url and current_url == link_url %}class="active"{% endif %} href="{{ link_url }}">{{menu_link.name}}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </nav>
            </header>
            <main>
                {% block content %}{% endblock %}
            </main>
    
            <footer>
                <ul class="footer-links">
                    <li><a href="/privacy-policy">Datenschutz</a></li>
                    <li><a href="/imprint">Impressum</a></li>
                </ul>
            </footer>
        </div>
    </body>
</html>
