{% extends "base.html" %} 

{% block content %}
<div class="wrapper">
    <h1 class="title">Hvaldimir</h1>
    <img src="{{ config.base_url }}/img/hvaldimir.jpg" alt="Hvaldimir" />
    <p>
        <b>Hvaldimir</b> is a male beluga whale that fishermen near Hammerfest 
        in northern Norway noticed in April 2019 wearing a camera harness;
        after being freed from the harness, the whale remained in the area
        and appeared used to humans. Speculation that he had been trained 
        by Russia as a spy whale led to his being dubbed Hvaldimir, a pun 
        on the Norwegian hval (whale) and Vladimir Putin.
    </p>
</div>
{% endblock content %}
