{% import "macros/page.html" as page_macros %}
{% extends "index.html" %}

{% block seo %} 
    {% set description = page.description %}
    {% set title = page.title %}

    {% set type = page.extra.type %}

    {{ macros_head::seo(title=title, description=description, type=type, no_bots_allowed=false) }}
    
    <link
        rel="preload"
        href="/js/copyCode.mjs"
        as="script"
        crossorigin="anonymous"
    />
    
    <link
        rel="preload"
        href="/js/copyDirectLink.mjs"
        as="script"
        crossorigin="anonymous"
    />

    <script type="module" src="/blog.js" defer></script>
{% endblock seo %}

{% block title %}
    {{ page.title }} {{ config.extra.title_separator }} {{ config.extra.title }}
{% endblock %}

{% block content %}

<article class="post">
    <header>
        {{ page_macros::post_date(page=page) }}
        <h1>{{ page.title }}</h1>
        {{ page_macros::page_info(page=page) }}
    </header>
    <div class="content">
        {{ page.content | safe }}
    </div>
</article>

{% endblock content %}