{% extends "index.html" %}

{% block content %}
<article class="post">
    <header>
        <h1>404: Seite nicht gefunden</h1>
    </header>
    <div class="content">
        Sorry, die Seite scheint es nicht zu geben.
        Stimmt die von dir aufgerufene URL? 
        Sollte hier eine Seite sein die du gesucht hast,
        schreib mir doch eine Mail an: <a class="text-link no-fetch" href="mailto:tony.spegel@gmail.com" title="E-Mail schreiben">tony.spegel@gmail.com</a>  
    </div>
</article>
{% endblock content %}