{% macro page_info(page) %}
    <div class="article-info">
        <div class="article-taxonomies">
            {% if page.taxonomies.categories %}
                <ul class="article-categories">
                    {% for cat in page.taxonomies.categories %}
                    <li><a href="{{ get_taxonomy_url(kind="categories", name=cat) | safe }}">{{ cat }}</a></li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if page.taxonomies.tags %}
                <ul class="article-tags">
                    {% for tag in page.taxonomies.tags %}
                    <li>
                        <a 
                            href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}" 
                            title="Posts zum Tag: {{ tag }}"
                            class="article-tag"
                        >
                            #{{ tag }}
                        </a>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endmacro page_info %}

{% macro welcome() %}
    <p class="intro">
        <span style="display: block;
            font-size: 2.5em;
            font-weight: 500;"
        >
            Hi,     
        </span>
        ich bin (Web)-Entwickler und arbeite vor allem mit 
        <a 
            class="text-link" 
            href="https://angular.io/" 
            target="_blank" 
            rel="noopener noreferrer"
        >
            Angular
        </a>
        sowie TypeScript und der E-Commerce-Plattform
        <a class="text-link"
            href="https://www.shopify.de/"
            target="_blank"
            rel="noopener noreferrer"
        >
            Shopify
        </a>.
    </p>
    <p class="intro">
        Besonders spannend finde ich alles in Richtung
        Cross-Plattform-Entwicklung mit Web-Apps und in ersten Gehversuchen auch
        mit Flutter. 
        In meiner Selbstständigkeit kümmere ich mich um die Umsetzung von Websites und Onlineshops. 
        Schreibt mir doch einfach eine Mail mit euren Wünschen und Anforderungen an
        <a class="text-link" href="mailto:tony.spegel@gmail.com">tony.spegel@gmail.com</a>.
    </p>
{% endmacro welcome %}


{% macro page_listing(page) %}
    <article class="post-list" data-section>
        <header> 
            {% if page.date %}
            <time 
                class="article-date" 
                datetime="{{ page.date }}"
                title="Erstellt am {{ page.date | date(format=config.extra.anpu_date_format) }}"
            >
                {{ page.date | date(format=config.extra.anpu_date_format) }}
            </time>
            {% endif %}
            <h1>
                <a href="{{ page.permalink }}">{{ page.title }}</a>
            </h1>
        </header>

        {% if page.summary %}
        <div class="content post-summary">
            {{ page.summary | markdown | safe }}
        </div>
        {% endif %}
        
        {{ self::page_info(page=page) }}
    </article>
{% endmacro page_listing %}

{% macro page_pagination(paginator) %}
    <div class="pagination">
        <div class="left pagination-item {% if not paginator.previous %}disabled{% endif %}">
            {% if paginator.previous %}
            <a href="{{ paginator.previous }}" class="paginator-link">‹ neuere posts</a>
            {% endif %}
        </div>
        <div class="right pagination-item {% if not paginator.next %}disabled{% endif %}">
            {% if paginator.next %}
            <a href="{{ paginator.next }}" class="paginator-link">ältere posts ›</a>
            {% endif %}
        </div>
    </div>
{% endmacro page_pagination %}