body {
    display: grid;
    max-width: 1024px;
}

[sgb] {
    background: linear-gradient(90deg, red, cyan);

    &:before {
        -webkit-mask-image: linear-gradient(to bottom, transparent, black);
        mask-image: linear-gradient(to bottom, transparent, black);
        background: linear-gradient(90deg, hotpink, rebeccapurple);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 72% 80% 70% 63% / 83% 50% 100% 43%;
    }
}

.content {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
}
