footer {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    bottom: var(--double-gap);
    right: var(--double-gap);
}

.footer-links {
    display: flex;
    gap: var(--double-gap);
}
