main {
    overflow-y: auto;
    flex: 1;
    max-width: 1024px;
    padding: var(--main-padding);
    margin: 0 auto;
    flex: 1;

    img {
        width: 50%;
    }

    p {
        text-align: justify;
    }
}
